/* 
_general.css
*/

@layer base {
  html {
    @apply w-full scroll-smooth;
  }

  body {
    @apply font-body bg-body-bg text-body-color md:text-base text-sm leading-[1.5em] font-normal overflow-x-clip;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading leading-[1.3em] font-medium text-default-900;
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    @apply cursor-pointer;
  }
}

select,
input,
textarea {
  @apply transition-all duration-200 focus:ring-0 focus:outline-0;
}

.container {
  @apply lg:px-7.5 px-5 max-w-[1500px] mx-auto;
}

.container-full {
  @apply mx-auto max-w-full lg:px-12.5 md:px-7.5 px-4;
}

/* Navbar Active Link */
#navbar a.active {
  @apply text-primary decoration-current;

  span {
    @apply scale-100;
  }
}

#navbar .hs-dropdown-menu a.active {
  @apply bg-primary/8;
}

/* Infinite horizontal scroll */

/* Normal direction */
@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.infinite-scroll {
  animation: infinite-scroll 100s linear infinite;
  will-change: transform;
}

/* Inverse direction */
@keyframes infinite-scroll-inverse {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.infinite-scroll-inverse {
  animation: infinite-scroll-inverse 100s linear infinite;
  will-change: transform;
}
